[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Color Picker (Hyprpicker)

# A comment which can/will be used as a tooltip
Comment=Color picker hyprpicker

# The path to the folder in which the executable is run
Path=/home/tnwei/.local/scripts/

# The executable of the application, possibly with arguments.
Exec=color-picker-with-notify.sh

# Describes whether this application needs to be run in a terminal or not
Terminal=True

