[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=FoxDot

# A comment which can/will be used as a tooltip
Comment=FoxDot live coding interpreter

# The path to the folder in which the executable is run
Path=/home/tnwei/.local/scripts

# The executable of the application, possibly with arguments.
Exec=foxdot.sh

# Describes whether this application needs to be run in a terminal or not
Terminal=True

# The name of the icon that will be used to display this entry
Icon=media-playback-start
